<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form action="/search" method="POST">
        <div class="mb-3 row">
                
            <div class="col-md-10 my-1">
            <input type="text" class="form-control shadow-none" id="search_term" placeholder="Enter Enrollment No.">
            </div>
            <button  class="col-md-2 col-form-label btn btn-primary my-1 shadow-none">Search</button>
        </div>
    </form>
</body>
</html>